body {
  background-color: white;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  position: relative;
  background-image: url("./images/coffee.jpg");
  height: 500px;
  width: 100vw;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  opacity: 1.9;
}

.App-link {
  color: #61dafb;
}

.search {
  display: flex;
}

.search-input {
  padding: 1em 2em;
}

button.btn.btn-secondary.rounded {
  font-weight: 500;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: "Cabin Sketch", sans-serif;
  font-size: 50pt;
  text-align: center;
}
