.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  position: relative;
  background-image: url("./images/coffee.jpg");
  height: 650px;
  width: 100vw;
  background-attachment: fixed;
  background-size: cover;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  position: absolute;
  font-family: "Cabin Sketch", sans-serif;
  font-size: 50pt;
  text-align: center;
  right: 50%;
}

/* #child { 
  position: absolute; 
  right: 40px; 
  top: 100px; 
  width: 200px; 
  height: 200px; 
  background-color: #fafafa; 
  border: solid 3px #78e382; 
  font-size: 24px; 
  text-align: center; 
} */
