div.RenderReviews {
  position: relative;
  top: 550px;
  left: -250px;
}

input.YourNameInput {
  font-size: 20px;
  width: 500px;
  outline-color: #665033;
  border-radius: 4px;
}

.review {
    border: 1px solid black;
    padding: 1rem;
    margin: .5rem;
}

/* .form-group {
  margin-bottom: 1rem;
  position: relative;
  left: 500px;
} */
