.text {
  color: antiquewhite;
  font-family: "Cabin Sketch", sans-serif;
  font-size: 20pt;
  margin: 10px;
}

.text:hover {
  color: black;
}

.navbar {
  justify-content: flex-end;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}
